<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>GitHub Reader</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<h1>GitHub User Account Info</h1>
</br>
<div>
    <h2>GitHub Profile</h2>
</div>
<div>
    <p class="bold info" th:text="${user.getUserName()}"></p>
    <a th:href="@{${user.getHtmlUrl()}}"><p class="bold info" th:text="${user.getHtmlUrl()}"></p></a>
    <p class="italic" th:text="'Followers: ' + ${user.getNumFollowers()}"></p>
    <p class="italic" th:text="'On GitHub since ' + ${user.getYearCreated()}"></p>
    </br>
    <img class="center"
         th:if="${user.getAvatarUrl() != null}"
         th:src="${user.getAvatarUrl()}"
         alt="avatar image">
</div>
</br>
<div>
    <h2>Repositories</h2>
</div>
<p class="italic"
   th:text="'Found the following ' + ${repoCount} + ' public repositories associated with this account'"></p>
<p class="italic">(including subscriptions, if any):</p>
</br>
<div th:if="${repoList != null}">
    <p th:each="repo : ${repoList}">
        <span class="bold" th:text="${repoStat.count} + '. ' + ${repo.getRepoName()} +
        ' (' + ${repo.createdYear} + ' - ' + ${repo.getUpdatedYear() + ')'}"></span>
        </br></br>
        <a th:href="@{${repo.getUrlLink()}}"><span th:text="${repo.getUrlLink()}"></span></a>
        </br>
        <span th:text="${repo.getDescription() != ''} ? ${repo.getDescription()} : '-'"></span>
        </br>
        <span th:text="${repo.getLanguage() != ''} ? 'Language: ' + ${repo.getLanguage()} : 'Language: -'"></span>
        </br>
        <span th:text="${repo.isFork() != '' && repo.isFork()} ? 'Fork: &#10004;' : ''"></span>
        <span th:text="${repo.isOwner() != '' && repo.isOwner()} ? 'Owner: &#10004;' : ''"></span>
        <span th:text="${repo.getStargazersCount() != 0} ? '&#11088;' + ${repo.getStargazersCount()}: ''"></span>
        </br></br>
    </p>
</div>
</br>
<div>
    <h2>Programming Language Analysis</h2>
</div>
<div id="inner" th:each="map : ${frequencies}">
    <div th:each="entry : ${map}">
        <span class="frequencies" th:text="${entry.key} + ':'"></span>
        <span class="frequencies" th:text="${entry.value} + '%'"></span>
    </div>
</div>

</body>

</html>