<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GitHub Reader Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>

<h1>An error has occurred accessing the GitHub account</h1>

</br>
<div>
    <p th:text="'The following error message has been received: ' + ${errorMsg}"></p>
    <p>Please ensure that you are entering a valid Github account name.</p>
    </br>
    <a href="/"><p class="errorLink">Back to landing page</p></a>
</div>
</body>
</html>